/**
*
* {{ properCase name }}
*
*/

import React from 'react';

const {{ properCase name }}:React.FC<> = () => {
    return (
    <div>
        your component
    </div>
    );
    }

    export default {{ properCase name }};